.weather-content {
    width: 78%;
    background: #f6f6f8;
    margin-left: 22%;
}

::-webkit-scrollbar {
    width: 0;
}

.active-type::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    bottom: -3px;
    left: 0;
}

.weather-content-navigation-metric-item {
    border-radius: 50%;
    background: #000;
    width: 30px;
    height: 30px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    padding: 3px;
    text-align: center;
}

.weather-content-navigation {
    font-size: 18px;
}
.weather-content-navigation-metric-item:hover {
    cursor: pointer;
}
body .metric-active {
    background: black !important;
}
.metric-active:hover {
    cursor: default;
}
.weather-content-current-header {
    font-size: 20px;
}
