.weather-list-item {
    width: 11%;
    min-height: 100px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    min-height: 125px;
    transition: .4s;
}
.weather-content-list-item-icon {
    font-size: 25px;
}
.weather-list-current {
    background: black;
    color: white;
}
.weather-list-item:hover {
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important
}
.weather-list-current:hover {
    cursor: default;
}
